:root {
    --cream: #F4F3EF;
    --gray: #C7C7C7;
    --blue: #0B79BF;
    --white: #FFFFFF;
    --dark-gray: #4D5259;
    --yellow: #FCC525;
    --error: #de3636;
    --error-background: #ea4c4c08;
    --font-color: #424242;
}