<form class="form" [formGroup]="serviceForm" (ngSubmit)="submit()">
    <div class="content">
        <div class="row">
            <input type="text" [ngClass]="{'error': f.name.dirty && f.name.errors}" formControlName="name"
                placeholder="Please enter name of service" />
            <div *ngIf="f.name.dirty">
                <p class="error-msg" *ngIf="f.name.errors">This field is required</p>
            </div>

        </div>
        <div class="row">
            <input type="number" [ngClass]="{'error': f.price.dirty && f.price.errors}" formControlName="price"
                placeholder="Please enter base price of service" />
            <div *ngIf="f.price.dirty">
                <p class="error-msg" *ngIf="f.price?.errors.required">This field is required</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <div>
            <input type="submit" value="Next" />
        </div>
    </div>
</form>