.ItemComponent {
    width: auto;
    height: 230px;
    border-radius: 10px;
    background-color: var(--gray);
    position: relative;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    div {
        &.details {
            position: absolute;
            bottom: 0;
            padding: 10px;
            background: #00000030;
            width: 100%;
            border-radius: 0 0 10px 10px;
            color: white;
            font-size: 18px;
            text-transform: capitalize;
        }
    }
}