.ItemComponent {
    width: auto;
    height: 230px;
    border-radius: 10px;
    background-color: var(--gray);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}