<div class="loginComponent">
    <div>
        <p>Email</p>
        <input type="text" name="" placeholder="Please enter email" id="">
    </div>
    <div>
        <p>Password</p>
        <input type="password" name="" placeholder="Please enter password" id="">
    </div>
    <div>
        <input type="button" value="login">
    </div>
    <div class="routes">
        <div> <a [routerLink]="['/auth/forgot-password']">Forgot password?</a></div>
        <div>|</div>
        <div>
            Don't have an account <a [routerLink]="['/auth/signup']">Signup</a>
        </div>
    </div>
</div>