<div class="TopMenuComponent">
    <nav>
        <ul>
            <!-- <li><a href="#">Help</a></li> -->
            <li><a href="#">Ntokozo Nkosi <i class="far fa-user-circle"></i></a>
                <ul>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <nav class="page-menu">
        <ul>
            <li><a [routerLink]="['/services']" [routerLinkActive]="['active']">Services</a></li>
            <li><a [routerLink]="['/products']" [routerLinkActive]="['active']">Products</a></li>
        </ul>
    </nav>
</div>