<div class="signupComponent">
    <div class="navigation">
        <input type="button" value="Back to login" (click)="backToLogin($event)" />
    </div>
    <div>
        <p>Name</p>
        <input type="text" name="" placeholder="Please enter name" id="">
    </div>
    <div>
        <p>Last name</p>
        <input type="text" name="" placeholder="Please last name" id="">
    </div>
    <div>
        <p>Email</p>
        <input type="text" name="" placeholder="Please enter email" id="">
    </div>
    <div>
        <p>Password</p>
        <input type="password" name="" placeholder="Please enter password" id="">
    </div>
    <div>
        <p>Confirm Password</p>
        <input type="password" name="" placeholder="Please confirm password" id="">
    </div>
    <div>
        <input type="button" value="Signup">
    </div>
</div>