<div class="mainContainer">
    <ng-container #errorContentHost></ng-container>
    <div *ngIf="!errorTemplate">
        <ng-content></ng-content>
    </div>
    <div class="backdrop"></div>
    <div class="flyout" [ngClass]="{'flyout-open': flyoutToggle === flyoutToggleEnum.OPEN}">
        <div class="content">
            <div class="header">
                <button (click)="closeFlyout()"><i class="fas fa-chevron-right"></i></button>
            </div>
            <div class="body">
                <ng-container #flyoutHost ></ng-container>
            </div>
        </div>
    </div>
</div>

<ng-template #defaultFlyoutTemplate>
    No flyout content...
</ng-template>